body{
    background-color: gray;
    padding: 100px 20px;
    
}

.container{
    max-width: 700px;
    padding: 50px 10px;
    
}
pre{
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 6px;
}